.logo {
  width: 8rem;
  height: 4rem;
}

nav {
  z-index: 5;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);

  /*transition: all 0.3s ease;*/
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4.5rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 30rem;
    height: 5rem;
  }
}
